In [104]:
import pandas as pd
import numpy as np
import yfinance as yf

In [105]:
msft = yf.Ticker("AAPL")
print(msft)

yfinance.Ticker object <AAPL>

In [106]:
msft.info

{'zip': '95014',
 'sector': 'Technology',
 'fullTimeEmployees': 147000,
 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. The company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, iPod touch, and other Apple-branded and third-party accessories. It also provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store, that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. In addition, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It sells and delivers third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was founded in 1977 and is headquartered in Cupertino, California.',
 'city': 'Cupertino',
 'phone': '408-996-1010',
 'state': 'CA',
 'country': 'United States',
 'companyOfficers': [],
 'website': 'http://www.apple.com',
 'maxAge': 1,
 'address1': 'One Apple Park Way',
 'industry': 'Consumer Electronics',
 'previousClose': 127.79,
 'regularMarketOpen': 128.41,
 'twoHundredDayAverage': 123.01259,
 'trailingAnnualDividendYield': 0.006315048,
 'payoutRatio': 0.2177,
 'volume24Hr': None,
 'regularMarketDayHigh': 128.72,
 'navPrice': None,
 'averageDailyVolume10Day': 133624516,
 'totalAssets': None,
 'regularMarketPreviousClose': 127.79,
 'fiftyDayAverage': 132.48824,
 'trailingAnnualDividendRate': 0.807,
 'open': 128.41,
 'toCurrency': None,
 'averageVolume10days': 133624516,
 'expireDate': None,
 'yield': None,
 'algorithm': None,
 'dividendRate': 0.82,
 'exDividendDate': 1612483200,
 'beta': 1.267876,
 'circulatingSupply': None,
 'startDate': None,
 'regularMarketDayLow': 125.46,
 'priceHint': 2,
 'currency': 'USD',
 'trailingPE': 34.088688,
 'regularMarketVolume': 80453137,
 'lastMarket': None,
 'maxSupply': None,
 'openInterest': None,
 'marketCap': 2110012260352,
 'volumeAllCurrencies': None,
 'strikePrice': None,
 'averageVolume': 106408768,
 'priceToSalesTrailing12Months': 7.1736183,
 'dayLow': 125.46,
 'ask': 125.69,
 'ytdReturn': None,
 'askSize': 800,
 'volume': 80453137,
 'fiftyTwoWeekHigh': 145.09,
 'forwardPE': 26.85577,
 'fromCurrency': None,
 'fiveYearAvgDividendYield': 1.42,
 'fiftyTwoWeekLow': 53.1525,
 'bid': 125.68,
 'tradeable': False,
 'dividendYield': 0.0064,
 'bidSize': 1200,
 'dayHigh': 128.72,
 'exchange': 'NMS',
 'shortName': 'Apple Inc.',
 'longName': 'Apple Inc.',
 'exchangeTimezoneName': 'America/New_York',
 'exchangeTimezoneShortName': 'EST',
 'isEsgPopulated': False,
 'gmtOffSetMilliseconds': '-18000000',
 'quoteType': 'EQUITY',
 'symbol': 'AAPL',
 'messageBoardId': 'finmb_24937',
 'market': 'us_market',
 'annualHoldingsTurnover': None,
 'enterpriseToRevenue': 7.413,
 'beta3Year': None,
 'profitMargins': 0.21735,
 'enterpriseToEbitda': 25.606,
 '52WeekChange': 0.76676345,
 'morningStarRiskRating': None,
 'forwardEps': 4.68,
 'revenueQuarterlyGrowth': None,
 'sharesOutstanding': 16788100096,
 'fundInceptionDate': None,
 'annualReportExpenseRatio': None,
 'bookValue': 3.936,
 'sharesShort': 88329668,
 'sharesPercentSharesOut': 0.0053,
 'fundFamily': None,
 'lastFiscalYearEnd': 1601078400,
 'heldPercentInstitutions': 0.59661996,
 'netIncomeToCommon': 63929999360,
 'trailingEps': 3.687,
 'lastDividendValue': 0.205,
 'SandP52WeekChange': 0.29914725,
 'priceToBook': 31.932163,
 'heldPercentInsiders': 0.00065,
 'nextFiscalYearEnd': 1664150400,
 'mostRecentQuarter': 1608940800,
 'shortRatio': 0.88,
 'sharesShortPreviousMonthDate': 1610668800,
 'floatShares': 16770804261,
 'enterpriseValue': 2180567793664,
 'threeYearAverageReturn': None,
 'lastSplitDate': 1598832000,
 'lastSplitFactor': '4:1',
 'legalType': None,
 'lastDividendDate': 1612483200,
 'morningStarOverallRating': None,
 'earningsQuarterlyGrowth': 0.293,
 'dateShortInterest': 1613088000,
 'pegRatio': 2.02,
 'lastCapGain': None,
 'shortPercentOfFloat': 0.0053,
 'sharesShortPriorMonth': 99897228,
 'impliedSharesOutstanding': None,
 'category': None,
 'fiveYearAverageReturn': None,
 'regularMarketPrice': 128.41,
 'logo_url': 'https://logo.clearbit.com/apple.com'}

In [107]:
msft.history(period="5d")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-02-24,124.940002,125.559998,122.230003,125.349998,111039900,0,0
2021-02-25,124.680000,126.459999,120.540001,120.989998,148199500,0,0
2021-02-26,122.589996,124.849998,121.199997,121.260002,164320000,0,0
2021-03-01,123.750000,127.930000,122.790001,127.790001,115998300,0,0
2021-03-02,128.410004,128.720001,125.459999,125.669998,80455744,0,0

In [108]:
msft.actions

Empty DataFrame
Columns: [Dividends, Stock Splits]
Index: []

In [109]:
top100tech = ['AAPL',
'MSFT',
'TSM',
'NVDA',
'INTC',
'ASML',
'ADBE',
'CRM',
'AVGO',
'ORCL',
'CSCO',
'ACN',
'TXN',
'SHOP',
'QCOM',
'SAP',
'SNE',
'AMAT',
'INTU',
'NOW',
'SQ',
'IBM',
'MU',
'AMD',
'UBER',
'FIS',
'LRCX',
'FISV',
'SNOW',
'INFY',
'TEAM',
'ADSK',
'DELL',
'WDAY',
'VMW',
'ADI',
'NXPI',
'KLAC',
'CRWD',
'PLTR',
'DOCU',
'TEL',
'ERIC',
'MCHP',
'CDNS',
'CTSH',
'APH',
'SNPS',
'HPQ',
'PANW',
'OKTA',
'RNG',
'STM',
'MRVL',
'XLNX',
'WIT',
'MSI',
'SWKS',
'GLW',
'DDOG',
'ANSS',
'U',
'ZS',
'FTNT',
'STNE',
'ZBRA',
'KEYS',
'FTV',
'MXIM',
'COUP',
'GRMN',
'SPLK',
'HUBS',
'WORK',
'NET',
'FLT',
'CDW',
'CAJ',
'AFRM',
'PAYC',
'TER',
'VRSN',
'WDC',
'ZI',
'UMC',
'ANET',
'EPAM',
'UI',
'XM',
'GIB',
'TRMB',
'TYL',
'WIX',
'HPE',
'LYFT',
'LOGI',
'MPWR']

In [110]:
# tickers = pd.Series(top100tech).apply(yf.Ticker)

In [111]:
# hacky way to get lots of data
# hist_datas = tickers.apply(lambda x: x.history(period="5d"))

In [112]:
' '.join(top100tech)

'AAPL MSFT TSM NVDA INTC ASML ADBE CRM AVGO ORCL CSCO ACN TXN SHOP QCOM SAP SNE AMAT INTU NOW SQ IBM MU AMD UBER FIS LRCX FISV SNOW INFY TEAM ADSK DELL WDAY VMW ADI NXPI KLAC CRWD PLTR DOCU TEL ERIC MCHP CDNS CTSH APH SNPS HPQ PANW OKTA RNG STM MRVL XLNX WIT MSI SWKS GLW DDOG ANSS U ZS FTNT STNE ZBRA KEYS FTV MXIM COUP GRMN SPLK HUBS WORK NET FLT CDW CAJ AFRM PAYC TER VRSN WDC ZI UMC ANET EPAM UI XM GIB TRMB TYL WIX HPE LYFT LOGI MPWR'

In [113]:
data = yf.download(tickers = ' '.join(top100tech),
                  period='5d')

[*********************100%***********************]  97 of 97 completed

In [114]:
data.head()

             Adj Close                                                  \
                  AAPL         ACN        ADBE         ADI        ADSK
Date
2021-02-24  125.349998  259.269989  476.619995  161.069992  298.910004
2021-02-25  120.989998  253.779999  459.160004  153.679993  284.029999
2021-02-26  121.260002  250.899994  459.670013  155.820007  276.000000
2021-03-01  127.790001  258.160004  469.570007  158.589996  284.269989
2021-03-02  125.699997  260.269989  469.894989  155.479996  279.399994

                                                                       ...  \
                  AFRM        AMAT        AMD        ANET        ANSS  ...
Date                                                                   ...
2021-02-24  102.489998  122.809998  86.940002  286.359985  385.369995  ...
2021-02-25   94.195000  113.930000  82.419998  280.260010  338.459991  ...
2021-02-26   93.059998  118.190002  84.510002  279.839996  340.989990  ...
2021-03-01   91.440002  122.250000  86.389999  287.940002  346.109985  ...
2021-03-02   91.959999  118.260002  85.129997  285.320007  337.950012  ...

             Volume                                                         \
               WDAY      WDC      WIT      WIX      WORK     XLNX       XM
Date
2021-02-24  1841700  6164300  2107400   708200   6565300  3820700  1109700
2021-02-25  2311600  3774000  2044700   959000   8744800  2877100  2047400
2021-02-26  4429400  4821000  3001400  1041800  12436900  2488900  1641300
2021-03-01  2794300  6578300  2027100   737600   6946700  2156200  1836400
2021-03-02   932200  3260181  1352059   442988   3365932  1054304  1404112


              ZBRA       ZI       ZS
Date
2021-02-24  462900  4047100  1684100
2021-02-25  722100  3483700  2557500
2021-02-26  551600  3595100  3721700
2021-03-01  341100  1977500  1917300
2021-03-02  158399  1090340  1512169

[5 rows x 582 columns]

In [115]:
pd.melt(data.reset_index(), id_vars=['Date'])

           Date variable_0 variable_1         value
0    2021-02-24  Adj Close       AAPL  1.253500e+02
1    2021-02-25  Adj Close       AAPL  1.209900e+02
2    2021-02-26  Adj Close       AAPL  1.212600e+02
3    2021-03-01  Adj Close       AAPL  1.277900e+02
4    2021-03-02  Adj Close       AAPL  1.257000e+02
...         ...        ...        ...           ...
2905 2021-02-24     Volume         ZS  1.684100e+06
2906 2021-02-25     Volume         ZS  2.557500e+06
2907 2021-02-26     Volume         ZS  3.721700e+06
2908 2021-03-01     Volume         ZS  1.917300e+06
2909 2021-03-02     Volume         ZS  1.512169e+06

[2910 rows x 4 columns]

In [116]:
df = pd.melt(data, ignore_index=False)
df.columns = ['Variable', 'Ticker', 'Value']

In [117]:
# this is a nicely formed dataframe of historical data
nice_df = df.reset_index().pivot(index=['Ticker', 'Date'], columns=['Variable'], values=['Value'])

In [118]:
nice_df.columns = nice_df.columns.droplevel()

In [119]:
nice_df.head(30)

Variable            Adj Close       Close        High         Low        Open  \
Ticker Date
AAPL   2021-02-24  125.349998  125.349998  125.559998  122.230003  124.940002
       2021-02-25  120.989998  120.989998  126.459999  120.540001  124.680000
       2021-02-26  121.260002  121.260002  124.849998  121.199997  122.589996
       2021-03-01  127.790001  127.790001  127.930000  122.790001  123.750000
       2021-03-02  125.699997  125.699997  128.720001  125.459999  128.410004
ACN    2021-02-24  259.269989  259.269989  260.470001  252.820007  253.210007
       2021-02-25  253.779999  253.779999  259.109985  252.580002  258.980011
       2021-02-26  250.899994  250.899994  255.850006  249.809998  255.240005
       2021-03-01  258.160004  258.160004  259.799988  254.000000  254.000000
       2021-03-02  260.269989  260.269989  261.114990  257.109985  258.160004
ADBE   2021-02-24  476.619995  476.619995  477.350006  460.290009  463.489990
       2021-02-25  459.160004  459.160004  476.309998  456.010010  471.239990
       2021-02-26  459.670013  459.670013  467.320007  456.010010  462.799988
       2021-03-01  469.570007  469.570007  470.500000  462.649994  465.679993
       2021-03-02  469.894989  469.894989  473.801605  463.459991  473.029999
ADI    2021-02-24  161.069992  161.759995  161.919998  155.160004  156.520004
       2021-02-25  153.679993  153.679993  160.149994  153.289993  158.699997
       2021-02-26  155.820007  155.820007  157.750000  152.259995  156.559998
       2021-03-01  158.589996  158.589996  158.779999  155.029999  157.080002
       2021-03-02  155.479996  155.479996  159.410004  154.110001  159.410004
ADSK   2021-02-24  298.910004  298.910004  299.149994  280.619995  281.329987
       2021-02-25  284.029999  284.029999  298.769989  282.250000  294.809998
       2021-02-26  276.000000  276.000000  291.980011  274.820007  283.450012
       2021-03-01  284.269989  284.269989  284.720001  278.070007  279.859985
       2021-03-02  279.399994  279.399994  286.890015  277.549988  285.549988
AFRM   2021-02-24  102.489998  102.489998  103.750000   98.705002   99.279999
       2021-02-25   94.195000   94.195000  101.000000   90.000000   99.930000
       2021-02-26   93.059998   93.059998   97.820000   91.029999   92.180000
       2021-03-01   91.440002   91.440002   96.349998   90.809998   95.500000
       2021-03-02   91.959999   91.959999   98.120003   91.000000   92.699997

Variable                Volume
Ticker Date
AAPL   2021-02-24  111039900.0
       2021-02-25  148199500.0
       2021-02-26  164320000.0
       2021-03-01  115998300.0
       2021-03-02   80460111.0
ACN    2021-02-24    2476300.0
       2021-02-25    2157700.0
       2021-02-26    2712800.0
       2021-03-01    1954700.0
       2021-03-02    1350345.0
ADBE   2021-02-24    3390600.0
       2021-02-25    3252500.0
       2021-02-26    3154500.0
       2021-03-01    2358600.0
       2021-03-02    1183894.0
ADI    2021-02-24    2748700.0
       2021-02-25    3282600.0
       2021-02-26    5574200.0
       2021-03-01    3385500.0
       2021-03-02    1986924.0
ADSK   2021-02-24    1397400.0
       2021-02-25    1489300.0
       2021-02-26    2529200.0
       2021-03-01    1831000.0
       2021-03-02     964502.0
AFRM   2021-02-24    1894100.0
       2021-02-25    5472000.0
       2021-02-26    2596700.0
       2021-03-01    2913300.0
       2021-03-02    3304877.0

In [130]:
df = nice_df.reset_index()

In [131]:
df.columns.name=None

In [133]:
df.head(30)

,Ticker,Date,Adj Close,Close,High,Low,Open,Volume
0,AAPL,2021-02-24,125.349998,125.349998,125.559998,122.230003,124.940002,111039900.0
1,AAPL,2021-02-25,120.989998,120.989998,126.459999,120.540001,124.680000,148199500.0
2,AAPL,2021-02-26,121.260002,121.260002,124.849998,121.199997,122.589996,164320000.0
3,AAPL,2021-03-01,127.790001,127.790001,127.930000,122.790001,123.750000,115998300.0
4,AAPL,2021-03-02,125.699997,125.699997,128.720001,125.459999,128.410004,80460111.0
5,ACN,2021-02-24,259.269989,259.269989,260.470001,252.820007,253.210007,2476300.0
6,ACN,2021-02-25,253.779999,253.779999,259.109985,252.580002,258.980011,2157700.0
7,ACN,2021-02-26,250.899994,250.899994,255.850006,249.809998,255.240005,2712800.0
8,ACN,2021-03-01,258.160004,258.160004,259.799988,254.000000,254.000000,1954700.0
9,ACN,2021-03-02,260.269989,260.269989,261.114990,257.109985,258.160004,1350345.0
10,ADBE,2021-02-24,476.619995,476.619995,477.350006,460.290009,463.489990,3390600.0
11,ADBE,2021-02-25,459.160004,459.160004,476.309998,456.010010,471.239990,3252500.0
12,ADBE,2021-02-26,459.670013,459.670013,467.320007,456.010010,462.799988,3154500.0
13,ADBE,2021-03-01,469.570007,469.570007,470.500000,462.649994,465.679993,2358600.0
14,ADBE,2021-03-02,469.894989,469.894989,473.801605,463.459991,473.029999,1183894.0
15,ADI,2021-02-24,161.069992,161.759995,161.919998,155.160004,156.520004,2748700.0
16,ADI,2021-02-25,153.679993,153.679993,160.149994,153.289993,158.699997,3282600.0
17,ADI,2021-02-26,155.820007,155.820007,157.750000,152.259995,156.559998,5574200.0
18,ADI,2021-03-01,158.589996,158.589996,158.779999,155.029999,157.080002,3385500.0
19,ADI,2021-03-02,155.479996,155.479996,159.410004,154.110001,159.410004,1986924.0
20,ADSK,2021-02-24,298.910004,298.910004,299.149994,280.619995,281.329987,1397400.0
21,ADSK,2021-02-25,284.029999,284.029999,298.769989,282.250000,294.809998,1489300.0
22,ADSK,2021-02-26,276.000000,276.000000,291.980011,274.820007,283.450012,2529200.0
23,ADSK,2021-03-01,284.269989,284.269989,284.720001,278.070007,279.859985,1831000.0
24,ADSK,2021-03-02,279.399994,279.399994,286.890015,277.549988,285.549988,964502.0
25,AFRM,2021-02-24,102.489998,102.489998,103.750000,98.705002,99.279999,1894100.0
26,AFRM,2021-02-25,94.195000,94.195000,101.000000,90.000000,99.930000,5472000.0
27,AFRM,2021-02-26,93.059998,93.059998,97.820000,91.029999,92.180000,2596700.0
28,AFRM,2021-03-01,91.440002,91.440002,96.349998,90.809998,95.500000,2913300.0
29,AFRM,2021-03-02,91.959999,91.959999,98.120003,91.000000,92.699997,3304877.0

In [134]:
df[df['Ticker']=='AAPL']

,Ticker,Date,Adj Close,Close,High,Low,Open,Volume
0,AAPL,2021-02-24,125.349998,125.349998,125.559998,122.230003,124.940002,111039900.0
1,AAPL,2021-02-25,120.989998,120.989998,126.459999,120.540001,124.680000,148199500.0
2,AAPL,2021-02-26,121.260002,121.260002,124.849998,121.199997,122.589996,164320000.0
3,AAPL,2021-03-01,127.790001,127.790001,127.930000,122.790001,123.750000,115998300.0
4,AAPL,2021-03-02,125.699997,125.699997,128.720001,125.459999,128.410004,80460111.0

In [135]:
df[df['Close']>126]

,Ticker,Date,Adj Close,Close,High,Low,Open,Volume
3,AAPL,2021-03-01,127.790001,127.790001,127.930000,122.790001,123.750000,115998300.0
5,ACN,2021-02-24,259.269989,259.269989,260.470001,252.820007,253.210007,2476300.0
6,ACN,2021-02-25,253.779999,253.779999,259.109985,252.580002,258.980011,2157700.0
7,ACN,2021-02-26,250.899994,250.899994,255.850006,249.809998,255.240005,2712800.0
8,ACN,2021-03-01,258.160004,258.160004,259.799988,254.000000,254.000000,1954700.0
...,...,...,...,...,...,...,...,...
480,ZS,2021-02-24,207.809998,207.809998,210.789993,203.550003,208.380005,1684100.0
481,ZS,2021-02-25,195.789993,195.789993,210.910004,194.339996,204.000000,2557500.0
482,ZS,2021-02-26,205.029999,205.029999,224.080002,197.082001,213.100006,3721700.0
483,ZS,2021-03-01,210.160004,210.160004,211.139999,202.179993,208.750000,1917300.0
484,ZS,2021-03-02,203.865005,203.865005,211.830002,202.945999,212.000000,1512169.0